URxvt.depth: 32
URxvt.background: rgba:0000/0000/0000/8000

URxvt.scrollBar: false
URxvt.font: xft:DejaVu Sans Mono:pixelsize=13:foundry=PfEd:style=Book
! Extentions
URxvt.perl-ext-common:	default,matcher,resize-font,url-select,keyboard-select
URxvt.colorUL:		#4682B4
! url-select
URxvt.keysym.M-u:	    perl:url-select:select_next
URxvt.url-select.launcher:  qutebrowser
URxvt.url-select.underline: true
! matcher
URxvt.url-launcher: qutebrowser
URxvt.matcher.button: 1
! keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keyboard-select.clipboard: true
! allow control + shift keybinds to work
URxvt.iso14755: false
URxvt.iso14755_2: false

*.foreground:  #cdcdcd
*.background:  #000000
*.cursorColor: #d0d0d0
!
! Black
*.color0:      #000000
*.color8:      #535353
!
! Red
*.color1:      #d11600
*.color9:      #f4152c
!
! Green
*.color2:      #37c32c
*.color10:     #01ea10
!
! Yellow
*.color3:      #e3c421
*.color11:     #ffee1d
!
! Blue
*.color4:      #5c6bfd
*.color12:     #8cb0f8
!
! Magenta
*.color5:      #dd5be5
*.color13:     #e056f5
!
! Cyan
*.color6:      #6eb4f2
*.color14:     #67ecff
!
! White
*.color7:      #e0e0e0
*.color15:     #f4f4f4


gnuplot*background:  white
gnuplot*textColor:   black
gnuplot*borderColor: black
gnuplot*axisColor:   black
gnuplot*line1Color:  red
gnuplot*line2Color:  green
gnuplot*line3Color:  blue
gnuplot*line4Color:  magenta
gnuplot*line5Color:  cyan
gnuplot*line6Color:  sienna
gnuplot*line7Color:  orange
gnuplot*line8Color:  coral
gnuplot*borderWidth: 2
gnuplot*axisWidth:   1
gnuplot*line1Width:  1
gnuplot*line2Width:  1
gnuplot*line3Width:  1
gnuplot*line4Width:  1
gnuplot*line5Width:  1
gnuplot*line6Width:  1
gnuplot*line7Width:  1
gnuplot*line8Width:  1

emacs*font: DejaVu Sans Mono:pixelsize=14:foundry=PfEd:style=Book
